#spring:
#  profiles:
#    default: local
#---
#spring:
#  config:
#    activate:
#      on-profile: local
#---
#spring:
#  config:
#    activate:
#      on-profile: prod
#
spring:
  profiles:
    default: local

---
spring:
  config:
    activate:
      on-profile: local
---
spring:
  config:
    activate:
      on-profile: prod
